/* 
    Box Model in CSS:-
        a) Height
            By default, it sets the content area height of the element.
        b) Width
            By default, it sets the content area width of the element.
        c) Border
            i)  Used to set an element's border.
            ii) Also used to round the corners of an element's outer border edge.
        d) Padding
            It is used to set the space(s) between the content and the border.
        e) Margin
            It is used to set the space between the elements or the borders of the elements.
*/

.div {
    color: red;
    background-color: pink;
    height: 50px;
    width: 100px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
}

h1 {
    width: 200px;
    text-align: center;
    height: 80px;
    background-color: aquamarine;
    border-width: 2px;
    border-style: dashed;
    border-radius: 6%;
    border-color: yellowgreen;
    padding-top: 5px;
}

p {
    margin-top: 50px;
    margin-bottom: 25px;
}
button {
    margin: 25px;
}

/* 
    Display Properties:-
        display: inline/block/inline-block/none
            i)   inline: Takes only the space required by the element. (no margin/padding)
            ii)  block: Takes full space available in width.
            iii) inline-block: Similar to inline but we can set margin & padding.
            iv)  none: To remove element from document flow.
*/

.apple {
    border: none;
    width: 100px;
    height: 100px;
    border-radius: 0%;
    margin: 25px;
    padding: 25px;
    /* display: inline;  --> shows errors in preview */
    display: inline-block;
}

/* 
    Visibility: When visibility is set to none, space for the element is reserved. But for display set to none, no space is reserved or blocked for the element.
*/

#box1 {
    background-color: blue;
}
#box2 {
    background-color: green;
    visibility: hidden;
}
#box3 {
    background-color: red;
}

/* Alpha Channel: opacity (0 - 1) */

#box1 {
    background-color: rgba(0, 0, 255, 0.4);
}